<ion-view>
    <ion-header-bar >
        <button class="button button-icon ion-android-menu"></button>
        <div class="title title_t"><img src="images/m_03.jpg"><p>M E I Y I T I</p></div>
        <button class="button button-icon ion-ios-cart-outline" ui-sref="tabs.cart"></button>
    </ion-header-bar>
    <ion-content>
        <div class="row" id="row_index">
            <div class="col-10 col_index">推荐</div>
            <div class="col-10 col_index">关注</div>
            <div class="col-10 col_index">护肤</div>
            <div class="col-10 col_index">时尚</div>
            <div class="col-10 col_index">彩妆</div>
            <div class="col-10 col_index">母婴</div>
            <div class="col-10 col_icon"><i class="ion-ios-arrow-down"></i></div>
        </div>
    </ion-content>
</ion-view>