<ion-view hide-nav-bar="true">
    <ion-header-bar >
        <button class="button button-icon ion-ios-heart" style="color:pink;"></button>
        <div class="title title_t"><img src="images/m_03.jpg"><p>M E I Y I T I</p></div>
        <button class="button button-icon ion-ios-cart-outline" ui-sref="tabs.cart"></button>
    </ion-header-bar>
    <ion-content ng-repeat="item in find">
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="true">
            <ion-slide><div class="pic"><a href="#"><img src="images/img_03.jpg"></a></div></ion-slide>
            <ion-slide><div class="pic"><a href="#"><img src="images/img_06.jpg"></a></div></ion-slide>
            <ion-slide><div class="pic"><a href="#"><img src="images/img_07.jpg"></a></div></ion-slide>
            <ion-slide><div class="pic"><a href="#"><img src="images/img_08.jpg"></a></div></ion-slide>
        </ion-slide-box>
        <div class="inner">
            <div class="item_title">
                <p>热门话题</p>
                <a href="#">查看更多　<i class="ion-ios-arrow-right"></i></a>
            </div>
            <ul class="list list_home">
                <li class="item item-thumbnail-left">
                    <img src="images/img_01.jpg">
                    <h3># 每日穿搭</h3>
                    <p>1081 人参加</p>
                    <i class="ion-ios-arrow-right"></i>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/img_02.jpg">
                    <h3># 最难买的唇膏色号</h3>
                    <p>429 人参加</p>
                    <i class="ion-ios-arrow-right"></i>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/img_04.jpg">
                    <h3># 高颜值厨具</h3>
                    <p>41 人参加</p>
                    <i class="ion-ios-arrow-right"></i>
                </li>
            </ul>
            <div class="item_title">
                <p>热门长笔记</p>
                <a href="#">查看更多　<i class="ion-ios-arrow-right"></i></a>
            </div>
            <ul class="list list_find">
                <li class="item item-thumbnail-left">
                    <img src="images/h.jpg">
                    <h3>Givenchy compact face powder 83 Peach 蜜桃色 </h3>
                    <p>翻译过来大概就是便携式散粉啦 小盒子精致的不行不行 额外一层是镜子一层是刷子 在多伦多逛的时候入的 买来就是图出去玩便携好带[害羞][害羞][害羞] 试用了下发现显色效果还成 但是小刷子是真心不好用[好冷][好冷][好冷] 感觉抓色力不行然后硬的和牙刷也差不多了… 应该是不会再回购啦</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/f_01.jpg">
                    <h3>hotel chocolat巧克力 酒心巧克力 * bourbon奶油味曲奇</h3>
                    <p>它家的的包装完全可以满足外貌协会的要求，简洁有高贵，十分喜欢！（我拍的的这盒，包装一般般的.）它的巧克力每个都做的很精致漂亮，好喜欢.它家的酒心巧克力真的好棒，一口一个满足呀～ Tokyo banana香蕉夹心蛋糕//这个应该好多人都被安利过吧😬但真的！确实很好吃！！！柔软的蛋糕外皮，包裹着带有浓郁奶油味的香蕉内馅，每一口都挑逗味蕾呢（≧∇≦）冻过之后更美味哟* bourbon奶油味曲奇//现在这个曲奇饼干在国内很多超市都有卖啦！曲奇很香，不会很干，苏苏的，上边的奶油味特别好！好像出了三个口味呢！好想都去试试～ dasses夹心饼干//身边很多人都觉得它没有白色恋人好吃，但我觉得两者的味道其实没有差很多，都觉得很好吃.这个也是在国内很多超市都有卖啦！这个好像也是出了三个味白巧克力、黑巧克力、抹茶.我最喜欢抹茶味的啦！（抹茶控） 对巧克力情有独钟的爱！</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/f_02.jpg">
                    <h3>粤菜馆Hakkasan 鱼子酱片皮鸭 鹅肝炒牛肉</h3>
                    <p>前一阵子借着父上过生日的由头，拔草了粤菜馆Hakkasan。听说是个英国厨师开的日文名字的中餐馆，其实偏西餐改良，听说也是米其林背景？ 招牌的鱼子酱片皮鸭非常美味，略略有点油但总体味道均衡。点心很是豪华，鹅肝炒牛肉的口感搭配很奇妙，最要点的是美味的椰子甜点！</p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>